h1, h2, h4, p, div {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-align: center;
}

body {
    background-image: linear-gradient(to bottom right, #b4d4db, #78a2cc);
    height: 100vh;
}

form {
    text-align: center;
}